/* Custom Font */
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  width: 100%;
  height: 100%;
}

/* Hero Section */
.jumbotron {
  max-width: 100%;
  height: 100vh;
  background-image: url('../img/hero/hero-subak.png');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}

/* Navbar */
nav {
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 99;
}
/* Humberger Menu  */
.menu {
  position: relative;
  display: flex;
  justify-content: end;
}

.menu ul li {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: -130px;
  list-style: none;
  font-weight: 900;
  z-index: 99;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.menu ul li:hover {
  background-color: #79aa1e;
}

.menu ul li:nth-child(1) {
  padding-left: 10%;
  justify-content: start;
}

.menu ul li:nth-child(1):hover {
  background-color: #94ca33;
}

.menu ul li a {
  text-decoration: none;
  color: #fafafa;
}

.menu ul {
  font-size: 30px;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #94ca33;
  z-index: 1;
  transform: translateX(100%);
  transition: all 1s ease-in;
}

.menu ul.slide {
  transform: translateX(-80%);
}

.menu-toggle {
  position: relative;
  display: flex;
  justify-content: end;
  padding-top: 50px;
}

.burger {
  width: 80px;
  height: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 100px;
}

.burger span {
  display: block;
  width: 80%;
  height: 6px;
  background-color: #fafafa;
  border-radius: 4px;
  transition: all 0.5s ease-in;
  z-index: 2;
}

.burger input {
  position: absolute;
  width: 65px;
  height: 50px;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

/* Slide Menu Navbar */
.burger span:nth-child(2) {
  transform-origin: 0 0;
}

.burger input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-4px, -1px);
}

.burger input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.burger span:nth-child(4) {
  transform-origin: 0 0;
}

.burger input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-6px, -1px);
}

/* Hero Section */

/* Clouds-Animation */
.clouds-wrap {
  max-width: 300%;
  height: max-content;
  /* background-color: rgba(0, 255, 255, 0.336); */
  display: flex;
  animation: scroll 100s linear infinite;
}

.clouds-wrap div {
  width: 300%;
  height: 220px;
  /* background-color: rgba(0, 0, 0, 0.514); */
}

.clouds-slide-one,
.clouds-slide-two,
.clouds-slide-three,
.clouds-slide-four {
  display: flex;
}

.cloud-one {
  padding: 10px 0px 100px 10px;
}

.cloud-two {
  padding: 40px 0px 50px 10px;
}

.cloud-three {
  padding: 130px 200px 0px 0px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 12));
  }
}
/* End Clouds Animation */
/* Btn Support */
.btn-support {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
  height: 355px;
  /* background-color: rgba(127, 255, 212, 0.212); */
  position: relative;
}

.btn-support button {
  width: 136px;
  height: 40px;
  display: block;
  position: absolute;
  right: 170px;
  border-radius: 50px;
  border: 0px solid transparent;
  background-color: #77af11;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.btn-support button a {
  color: #fafafa;
  font-weight: bolder;
  text-decoration: none;
}

/* End Of Hero Section */

/* Resposive Media Query */
/* Laptop */
@media screen and (max-width: 1024px) {
  .burger {
    height: 35px;
  }
  .burger span {
    width: 50px;
    height: 6px;
  }
  .menu-toggle {
    padding-right: 0px;
    padding-top: 30px;
  }

  .clouds-wrap div {
    height: 180px;
  }
  .btn-support {
    height: 225px;
  }
}

/* Tablet */
@media screen and (max-width: 769px) {
  .jumbotron {
    height: 100vh;
  }

  .menu ul li {
    margin-left: -60px;
  }

  .clouds-wrap div {
    height: 140px;
  }

  .cloud-one {
    padding: 0px 0px 80px 10px;
  }

  .cloud-two {
    padding: 40px 0px 50px 30px;
  }

  .cloud-three {
    padding: 100px 200px 0px 40px;
  }

  .btn-support {
    height: 170px;
  }

  .btn-support button {
    font-size: 12px;
    width: 104px;
    height: 30px;
    right: 100px;
  }
}

/* Mobile Xiaomi 600px */
@media screen and (max-width: 600px) {
  .menu-toggle {
    padding-top: 20px;
    margin-right: -80px;
  }

  .burger {
    height: 30px;
  }

  .btn-support {
    height: 100px;
  }

  .btn-support button {
    font-size: 10px;
    width: 88px;
    height: 25px;
    right: 50px;
  }
}

/* Mobile L kebawah */
@media screen and (max-width: 425px) {
  .menu-toggle {
    padding-top: 20px;
    margin-right: -80px;
  }

  .burger {
    height: 25px;
  }

  .burger span {
    width: 50%;
    height: 4px;
  }

  .menu ul li {
    margin-left: -30px;
  }

  .clouds-wrap div {
    height: 75px;
  }
  .cloud-one {
    padding: 10px 0px 40px 0px;
  }

  .cloud-two {
    padding: 30px 0px 20px 30px;
  }

  .cloud-three {
    padding: 50px 150px 0px 40px;
  }

  .btn-support {
    height: 110px;
  }

  .btn-support button {
    font-size: 10px;
    width: 88px;
    height: 25px;
    right: 50px;
  }
}
